.tasks {
    display: flex;
    width: 30vw;
    justify-content: space-between;
}

.urgent > h2 {
    color: rgb(156, 19, 19);
    font-size: 1.3rem;
}
article {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

article > button {
    height: min-content;
}